.gnb-m {
  #gnb-list {
    display: none;
  }
}

.gnb-d {
  @include flexbox(between);
  height: 100%;
  margin-left: 350px;

#gnb-list {

    @include flexbox(between);
    width: 550px;
    
    a {
      @include text-style(17);
      padding: 10px;
      font-family: $font-second;
      letter-spacing: 0.04em;
    }
  }

  .gnb-util {
    @include flexbox(between);

    button {
      margin-left: 20px;
    }

    i {
      font-size: 20px;
      color: $black;
    }
  }
}

.mobile-menu-btn {
  @include pos-center-y;
  right: 20px;
  width: 40px;
  height: 31px;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  span {
    @include pos-center;
    width: 40px;
    height: 3px;
    overflow: hidden;
    background: $black;
    border-radius: 2px;
    transition: all 0.3s linear;

    &:nth-child(1) {
      animation: span-first-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
    }

    &:nth-child(2) {
      animation: span-second-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
    }

    &:nth-child(3) {
      animation: span-third-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      background-color: $black;
      content: '';
      transition: all 0.3s linear;
    }
  }

  &.on:hover span::before {
    width: 100%;
    transition: all 0.3s linear;
  }

  &.on span:nth-child(1) {
    animation: span-first-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }

  &.on span:nth-child(2) {
    animation: span-second-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }

  &.on span:nth-child(3) {
    animation: span-third-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
}

@keyframes span-first-on {
  0% {
    transform: translate(-50%, -300%);
  }

  30% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@keyframes span-first-off {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  30% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -300%);
  }
}

@keyframes span-second-on {
  0% {
    transform: translate(-50%, -50%);
  }

  25% {
    background: #808080;
  }

  50% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-150%, -50%) scale(0);
  }
}

@keyframes span-second-off {
  0% {
    transform: translate(-150%, -50%) scale(0);
  }

  25% {
    background: #808080;
  }

  50% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes span-third-on {
  0% {
    transform: translate(-50%, 200%);
  }

  30% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

@keyframes span-third-off {
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  30% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, 200%);
  }
}
