.gnb {
  width: 100%;
  height: 100%;
  text-align: center;

  .gnb-m-menu {
    @include flexbox;
    flex-direction: column;

    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 15px 0;
      font-family: $font-second;
      letter-spacing: 0.1em;
      border-bottom: 2px solid $black;
    }
  }

  .gnb-d-menu {
    @include flexbox(around);
    width: 100%;
    height: 100%;

    .gnb-menu-list {
      @include flexbox;
    }

    .gnb-menu-item {
      @include flexbox;
      text-transform: uppercase;

      a {
        @include text-style(14);
        padding: 15px;
        font-family: $font-second;
        letter-spacing: 0.1em;
      }
    }

    .gnb-util {
      @include flexbox;

      button {
        padding: 10px;

        i {
          font-size: 17px;
        }
      }
    }
  }

  @include responsive(T) {
    @include flexbox;
  }
}
