.title-common {
  text-transform: uppercase;

  .title-main {
    @include inline-flexbox;
    position: relative;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.05em;

    &::after {
      position: absolute;
      top: 3.5px;
      right: -28px;
      width: 17px;
      height: 17px;
      border: 1px solid #000;
      border-radius: 50%;
      content: '';
    }
  }

  .title-second {
    @include inline-flexbox;
    @include text-style(10, $black);
    position: relative;
    font-weight: 400;

    &::after {
      position: absolute;
      top: 10px;
      right: -70px;
      width: 35%;
      height: 1px;
      background: #000;
      content: '';
    }
  }

  @include responsive(T) {
    .title-main {
      @include text-style(36, $black);
      margin-bottom: 7px;
    }

    .title-second {
      @include text-style(14, $black);

      &::after {
        position: absolute;
        top: 13px;
        right: -156px;
        width: 62%;
        height: 1px;
        background: #000;
        content: '';
      }
    }
  }

  @include responsive(D) {
    .title-main {
      &::after {
        position: absolute;
        top: 0.5px;
        right: -56px;
        width: 40px;
        height: 40px;
        border: 1px solid #000;
        border-radius: 50%;
        content: '';
      }
    }
  }
}
