#brand {
  width: 100%;
  height: 100%;
  background-color: $primary;
  border-bottom: 1px solid $black;

  .inner {
    max-width: 720px;
  }

  .brand-img {
    width: 100%;
    padding: 8px;
    margin-top: 35px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 23px;

    figure {
      width: 100%;
      height: 315px;
      margin-bottom: 5px;

      img {
        border-radius: 20px;
      }
    }

    i {
      @include text-style(11, $black);
      font-weight: 400;
    }
  }

  .description {
    @include text-style(10, $black);
    font-family: $font-second;
    text-align: justify;
  }

  h1 {
    @include text-style(23, $black);
    font-weight: 400;
    text-transform: uppercase;
  }

  h2 {
    @include inline-flexbox;

    span {
      @include text-style(10, $black);
      position: relative;
      padding-right: 10px;
      font-weight: 400;
      text-transform: uppercase;
    }

    i {
      position: absolute;
      top: 40px;
      right: 30px;
      font: italic 10px/0.05em 'Playfair Display';
      font-weight: 400;
      color: $black;
    }

    strong {
      @include text-style(17, $black);
      display: none;
      font-style: italic;
      font-weight: 400;

      &::after {
        position: absolute;
        top: 0;
        left: -15px;
        color: $black;
        content: '/';
      }
    }
  }

  h3 {
    @include text-style(12, $black);
    margin: 30px 0 20px;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: center;

    span {
      text-transform: uppercase;
    }
  }

  @include responsive(T) {
    .brand-img {
      margin-top: 60px;

      i {
        display: none;
      }

      figure {
        margin-bottom: 0;
      }
    }

    .description {
      padding: 0 70px;
    }

    h1 {
      @include text-style(36, $black);
      margin: 20px 0 7px;
    }

    h2 {
      span {
        @include text-style(14, $black);
        padding-right: 25px;
      }

      strong {
        position: relative;
        top: -1px;
        display: block;
      }

      i {
        @include text-style(17, $black);
        top: 49px;
      }
    }

    h3 {
      margin: 60px 0 20px;

      i {
        @include text-style(17, $black);
      }

      span {
        @include text-style(14, $black);
      }
    }
  }
}
